<!DOCTYPE html>
<html lang="es">
  <%- include("./partials/head.ejs", {style: "home", title: "Home"}) %>

  <body class="_body">
    <%- include("./partials/header.ejs") %>
    <main class="_main">
      <section class="_seccion-principal">
        <div class="_oferta">
          <span class="_titulo">Nueva colección</span>
          <span class="_sub-titulo">Unete a la nueva moda del verano!</span>
          <a href="" target="_blank" rel="noopener noreferrer"
            ><button class="_button">Comprá ahora</button></a
          >
        </div>
      </section>
      <section class="_seccion">
        <h2 class="_seccion-titulo">Comprá por categoría</h2>
        <div class="_seccion-contenido">
          <div class="_categoria">
            <img
              class="_categoria-imagen"
              src="/images/categoria_1.jpg"
              alt=""
            />
            <span class="_categoria-nombre">Mujeres</span>
          </div>
          <div class="_categoria">
            <img
              class="_categoria-imagen"
              src="/images/categoria_2.jpg"
              alt=""
            />
            <span class="_categoria-nombre">Hombres</span>
          </div>
          <div class="_categoria">
            <img
              class="_categoria-imagen"
              src="/images/categoria_3.jpg"
              alt=""
            />
            <span class="_categoria-nombre">Adolecentes</span>
          </div>
          <div class="_categoria">
            <img
              class="_categoria-imagen"
              src="/images/categoria_4.jpg"
              alt=""
            />
            <span class="_categoria-nombre">Niños</span>
          </div>
          <div class="_categoria">
            <img
              class="_categoria-imagen"
              src="/images/categoria_5.jpg"
              alt=""
            />
            <span class="_categoria-nombre">Bebes</span>
          </div>
        </div>
      </section>
      <section class="_seccion">
        <i class="fa-solid fa-circle-chevron-left"></i>
        <i class="fa-solid fa-circle-chevron-right"></i>

        <div class="_seccion-header">
          <h2 class="_seccion-titulo"><%= productsVerano[0].categorias.estacion.charAt(0).toUpperCase() + productsVerano[0].categorias.estacion.slice(1) %></h2>
          <button class="_seccion-ver-mas">Ver mas</button>
        </div>
        <div class="_seccion-contenido">
          <% productsVerano.forEach(product => { %>
            <a href="/products/detail/<%= product.id %>">
              <div class="_tarjeta">
                <i class="fa-regular fa-heart"></i>
                <img class="_tarjeta-imagen" src="/images/<%= product.imagen %>" alt="<%= product.nombre %>" />
                <div class="_tarjeta-textos">
                  <span class="_tarjeta-nombre"><%= product.nombre %></span>
                  <span class="_tarjeta-marca"><%= product.marca %></span>
                  <span class="_precio">$<%= product.precio %></span>
                </div>
              </div>
            </a>
            
            <% }) %>


        </div>
      </section>
      <section class="_seccion">
        <i class="fa-solid fa-circle-chevron-left"></i>
        <i class="fa-solid fa-circle-chevron-right"></i>

        <div class="_seccion-header">
          <h2 class="_seccion-titulo"><%= productsInvierno[0].categorias.estacion.charAt(0).toUpperCase() + productsInvierno[0].categorias.estacion.slice(1) %></h2>
          <button class="_seccion-ver-mas">Ver mas</button>
        </div>
        <div class="_seccion-contenido">
          <% productsInvierno.forEach(product => { %>
            <a href="/products/detail/<%= product.id %>">
              <div class="_tarjeta">
                <i class="fa-regular fa-heart"></i>
                <img class="_tarjeta-imagen" src="/images/<%= product.imagen %>" alt="<%= product.nombre %>" />
                <div class="_tarjeta-textos">
                  <span class="_tarjeta-nombre"><%= product.nombre %></span>
                  <span class="_tarjeta-marca"><%= product.marca %></span>
                  <span class="_precio">$<%= product.precio %></span>
                </div>
              </div>
            </a>
           
          <% }) %>


        </div>
      </section>
      <section class="_seccion">
        <i class="fa-solid fa-circle-chevron-left"></i>
        <i class="fa-solid fa-circle-chevron-right"></i>

        <div class="_seccion-header">
          <h2 class="_seccion-titulo"><%= productsPrimavera[0].categorias.estacion.charAt(0).toUpperCase() + productsPrimavera[0].categorias.estacion.slice(1) %></h2>
          <button class="_seccion-ver-mas">Ver mas</button>
        </div>
        <div class="_seccion-contenido">
          <% productsPrimavera.forEach(product => { %>
            <a href="/products/detail/<%= product.id %>">
              <div class="_tarjeta">
                <i class="fa-regular fa-heart"></i>
                <img class="_tarjeta-imagen" src="/images/<%= product.imagen %>" alt="<%= product.nombre %>" />
                <div class="_tarjeta-textos">
                  <span class="_tarjeta-nombre"><%= product.nombre %></span>
                  <span class="_tarjeta-marca"><%= product.marca %></span>
                  <span class="_precio">$<%= product.precio %></span>
                </div>
              </div>
            </a>
           
          <% }) %>


        </div>
      </section>
    </main>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
