<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head.ejs", {style: "productEdit" , title: "Editar producto" }) %>

    <body class="_body">
        <%- include("../partials/header.ejs") %>
            <main class="_main">
                <section class="_section-1">
                    <h1 class="_title">Editar producto</h1>
                    <div class="_form-container">
                        <form action="/products/edit/<%= productFound.id %>?__method=PUT" method="post" enctype="multipart/form-data" class="_form">
                            <div class="_divition-1">
                                <div class="_form-section">
                                    <h2 class="_title-section">Información básica</h2>
                                    <div class="_form-group">
                                        <label for="name">Nombre</label>
                                        <input class="_input" type="text" name="name" id="name"
                                            placeholder="Nombre del producto" value="<%= productFound.nombre %>"/>
                                    </div>
                                    <div class="_form-double-group">
                                        <div class="_form-group">
                                            <label for="brand">Marca</label>
                                            <input class="_input" type="text" name="brand" id="brand"
                                                placeholder="Marca del producto" value="<%= productFound.marca %>"/>
                                        </div>
                                        <div class="_form-group">
                                            <label for="model">Modelo</label>
                                            <input class="_input" type="text" name="model" id="model"
                                                placeholder="Modelo del producto" value="<%= productFound.modelo %>"/>
                                        </div>
                                    </div>
                                    <div class="_form-group">
                                        <label for="description">Descripción</label>
                                        <textarea class="_textarea" name="description" id="description"
                                            placeholder="Descripción" rows="4" cols="50"><%= productFound.descripcion %></textarea>
                                    </div>
                                </div>
                                <div class="_form-section">
                                    <h2  class="_title-section">Stock y precio</h2>
                                    <div class="_form-double-group">
                                        <div class="_form-group">
                                            <label for="price">Precio</label>
                                            <input class="_input" type="number" name="price" id="price"
                                                placeholder="Precio del producto" value="<%= productFound.precio %>"/>
                                        </div>
                                        <div class="_form-group">
                                            <label for="stock">Stock</label>
                                            <input class="_input" type="number" name="stock" id="stock"
                                                placeholder="Stock del producto" value="<%= productFound.stock %>"/>
                                        </div>
                                    </div>
                                    
                                </div>

                                <div class="_form-section">
                                    <h2  class="_title-section">Categorias y detalles</h2>
                                    <div class="_form-triple-group">
                                        <div class="_form-group">
                                            <label for="categorySeason">Estación</label>
                                            <select class="_select" name="categorySeason" id="categorySeason">
                                                <option value="invierno" <%= productFound.categorias.estacion=="invierno"?"selected":"" %>>Invierno</option>
                                                <option value="verano" <%= productFound.categorias.estacion=="verano"?"selected":"" %>>Verano</option>
                                                <option value="otoño" <%= productFound.categorias.estacion=="otoño"?"selected":"" %>>Otoño</option>
                                                <option value="primavera" <%= productFound.categorias.estacion=="primavera"?"selected":"" %>>Primavera</option>
                                            </select>
                                        </div>
                                        <div class="_form-group">
                                            <label for="categoryAge">Rango de edad</label>
                                            <select class="_select" name="categoryAge" id="categoryAge">
                                                <option value="bebe" <%= productFound.categorias.edad=="bebe"?"selected":"" %>>Bebés</option>
                                                <option value="niño" <%= productFound.categorias.edad=="niño"?"selected":"" %>>Niños</option>
                                                <option value="juvenil" <%= productFound.categorias.edad=="juvenil"?"selected":"" %>>Juveniles</option>
                                                <option value="adolescente" <%= productFound.categorias.edad=="adolescente"?"selected":"" %>>Adolescentes</option>
                                                <option value="adulto" <%= productFound.categorias.edad=="adulto"?"selected":"" %>>Adultos</option>
                                            </select>
                                        </div>
                                        <div class="_form-group">
                                            <label for="Genero">Genero</label>
                                            <select class="_select" name="Genero" id="Genero">
                                                <option value="masculino" <%= productFound.categorias.genero=="masculino"?"selected":"" %>>Masculino</option>
                                                <option value="femenino" <%= productFound.categorias.genero=="femenino"?"selected":"" %>>Femenino</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="_form-group">
                                        <label for="colors">Colores</label>
                                        <div class="_checkbox-container">
                                            <div class="_checkbox-box">
                                                <input type="checkbox" name="color1" id="color1" value="#f3f3f3" <%= productFound.colores.includes("#f3f3f3")?"checked":"" %>/>
                                                <label class="_checkbox-label _label-color-1" for="color1">
                                                    
                                                </label>
                                            </div>
                                            <div class="_checkbox-box">
                                                <input type="checkbox" name="color2" id="color2" value="#181818" <%= productFound.colores.includes("#181818")?"checked":"" %>/>
                                                <label class="_checkbox-label _label-color-2" for="color2">
                                                    
                                                </label>
                                            </div>
                                            <div class="_checkbox-box">
                                                <input type="checkbox" name="color3" id="color3" value="#4177eb" <%= productFound.colores.includes("#4177eb")?"checked":"" %>/>
                                                <label class="_checkbox-label _label-color-3" for="color3">
                                                    
                                                </label>
                                            </div>
                                            <div class="_checkbox-box">
                                                <input type="checkbox" name="color4" id="color4" value="#b8b8b8" <%= productFound.colores.includes("#b8b8b8")?"checked":"" %>/>
                                                <label class="_checkbox-label _label-color-4" for="color4"></label>
                                            </div>

                                        </div>
                                        
                                    </div>
                                    <div class="_form-group">
                                        <label for="sizes">Talles</label>
                                        <div class="_checkbox-container">
                                            <div class="_checkbox-box">
                                                <input type="checkbox" name="size1" id="size1" value="xs" <%= productFound.tamaños.includes("xs")?"checked":"" %>/>
                                                <label class="_checkbox-label _label-size-1" for="size1">
                                                    XS
                                                </label>
                                            </div>
                                            <div class="_checkbox-box">
                                                <input type="checkbox" name="size2" id="size2" value="s" <%= productFound.tamaños.includes("s")?"checked":"" %>/>
                                                <label class="_checkbox-label _label-size-2" for="size2">
                                                    S
                                                </label>
                                            </div>
                                            <div class="_checkbox-box">
                                                <input type="checkbox" name="size3" id="size3" value="m" <%= productFound.tamaños.includes("m")?"checked":"" %>/>
                                                <label class="_checkbox-label _label-size-3" for="size3">
                                                    M
                                                </label>
                                            </div>
                                            <div class="_checkbox-box">
                                                <input type="checkbox" name="size4" id="size4" value="l" <%= productFound.tamaños.includes("l")?"checked":"" %>/>
                                                <label class="_checkbox-label _label-size-4" for="size4">
                                                    L
                                                </label>
                                            </div>
                                            <div class="_checkbox-box">
                                                <input type="checkbox" name="size5" id="size5" value="xl" <%= productFound.tamaños.includes("xl")?"checked":"" %>/>
                                                <label class="_checkbox-label _label-size-5" for="size5">
                                                    XL
                                                </label>
                                            </div>
                                            <div class="_checkbox-box">
                                                <input type="checkbox" name="size6" id="size6" value="xxl" <%= productFound.tamaños.includes("xxl")?"checked":"" %>/>
                                                <label class="_checkbox-label _label-size-6" for="size6">
                                                    XXL
                                                </label>
                                            </div>

                                        </div>
                                        
                                    </div>


                                    
                                </div>

                            </div>
                            <div class="_divition-2">
                                <div class="_form-section">
                                    <h2 class="_title-section">Imagen del producto</h2>
                                    <div class="_form-group">
                                        <div class="_input-file-container">
                                            <i class="fa-solid fa-camera"></i>
                                            <span>Seleccionar imagen</span>
                                            <input class="_input-file" type="file" name="image" id="image" accept=".png, .jpg, .jpeg"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="_form-section">
                                    <h2  class="_title-section">Visibilidad</h2>
                                    <div class="_form-group">
                                        <select class="_select" name="visibility" id="visibility">
                                            <option value="publico">Publico</option>
                                            <option value="oculto">Oculto</option>
                                        </select>
                                    </div>
                                </div>
                                <button type="submit" class="_button-submit">Editar producto</button>
                            </div>

                        </form>
                    </div>
                </section>
            </main>

            <%- include("../partials/footer.ejs") %>
    </body>

</html>