<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head.ejs", {style: "productEdit" , title: "Editar producto" }) %>

    <body class="_body">
        <%- include("../partials/header.ejs") %>
            <main class="_main">
                <section class="_section-1">
                    <h1 class="_title">Editar producto</h1>
                    <div class="_form-container">
                        <form action="/products/edit/<%= productFound.id %>?__method=PUT" method="post" enctype="multipart/form-data" class="_form">
                            <div class="_divition-1">
                                <div class="_form-section">
                                    <h2 class="_title-section">Información básica</h2>
                                    <div class="_form-group">
                                        <label for="name">Nombre</label>
                                        <input class="_input" type="text" name="name" id="name"
                                            placeholder="Nombre del producto" value="<%= productFound.name %>"/>
                                    </div>
                                    <div class="_form-double-group">
                                        <div class="_form-group">
                                            <label for="branch_id">Marca</label>
                                            <select class="_select" name="branch_id" id="branch_id">
                                                <% branchesDB.forEach(branch => { %>
                                                    <option value="<%= branch.id %>" <%= productFound.branch.id==branch.id?"selected":"" %>><%= branch.name %></option>
                                                <% }) %>
                                            </select>
                                        </div>
                                        <div class="_form-group">
                                            <label for="model">Modelo</label>
                                            <input class="_input" type="text" name="model" id="model"
                                                placeholder="Modelo del producto" value="<%= productFound.model %>"/>
                                        </div>
                                    </div>
                                    <div class="_form-group">
                                        <label for="description">Descripción</label>
                                        <textarea class="_textarea" name="description" id="description"
                                            placeholder="Descripción" rows="4" cols="50"><%= productFound.description %></textarea>
                                    </div>
                                </div>
                                <div class="_form-section">
                                    <h2  class="_title-section">Stock y precio</h2>
                                    <div class="_form-double-group">
                                        <div class="_form-group">
                                            <label for="price">Precio</label>
                                            <input class="_input" type="number" name="price" id="price"
                                                placeholder="Precio del producto" value="<%= productFound.price %>"/>
                                        </div>
                                        <div class="_form-group">
                                            <label for="stock">Stock</label>
                                            <input class="_input" type="number" name="stock" id="stock"
                                                placeholder="Stock del producto" value="<%= productFound.stock %>"/>
                                        </div>
                                    </div>
                                    
                                </div>

                                <div class="_form-section">
                                    <h2  class="_title-section">Categorias y detalles</h2>
                                    <div class="_form-triple-group">
                                        <div class="_form-group">
                                            <label for="season_id">Estación</label>
                                            <select class="_select" name="season_id" id="season_id">
                                                <% seasonsDB.forEach(season => { %>
                                                    <option value="<%= season.id %>" <%= productFound.season.id==season.id?"selected":"" %>><%= season.name %></option>
                                                <% }) %>
                                            </select>
                                        </div>
                                        <div class="_form-group">
                                            <label for="age_id">Rango de edad</label>
                                            <select class="_select" name="age_id" id="age_id">
                                                <% agesDB.forEach(age => { %>
                                                    <option value="<%= age.id %>" <%= productFound.age.id==age.id?"selected":"" %>><%= age.name %></option>
                                                <% }) %>
                                            </select>
                                        </div>
                                        <div class="_form-group">
                                            <label for="genre_id">Genero</label>
                                            <select class="_select" name="genre_id" id="genre_id">
                                                <% genresDB.forEach(genre => { %>
                                                    <option value="<%= genre.id %>" <%= productFound.genre.id==genre.id?"selected":"" %>><%= genre.name %></option>
                                                <% }) %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="_form-group">
                                        <label for="colors">Colores</label>
                                        <div class="_checkbox-container">
                                            <% colorsDB.forEach((color, index) => { %>
                                                <div class="_checkbox-box">
                                                    <input 
                                                    type="checkbox" 
                                                    name="colors[]" 
                                                    id="color<%= index + 1 %>" 
                                                    value="<%= color.id %>" 
                                                    <%= productFound.Colors.some(c=>c.value==color.value) ? "checked" : "" %>
                                                    />
                                                    <label 
                                                    class="_checkbox-label" 
                                                    for="color<%= index + 1 %>" 
                                                    style="background-color: <%= color.value %>">
                                                </label>
                                                </div>
                                            <% }) %>

                                        </div>
                                        
                                    </div>
                                    <div class="_form-group">
                                        <label for="sizes">Talles</label>
                                        <div class="_checkbox-container">
                                            <% sizesDB.forEach((size, index) => { %>
                                                <div class="_checkbox-box">
                                                    <input 
                                                        type="checkbox" 
                                                        name="sizes[]" 
                                                        id="size<%= index + 1 %>" 
                                                        value="<%= size.id %>" 
                                                        <%= productFound.Sizes.some(s=>s.name==size.name) ? "checked" : "" %>
                                                    />
                                                    <label 
                                                        class="_checkbox-label" 
                                                        for="size<%= index + 1 %>">
                                                        <%= size.name %>
                                                    </label>
                                                </div>
                                            <% }) %>

                                        </div>
                                        
                                    </div>


                                    
                                </div>

                            </div>
                            <div class="_divition-2">
                                <div class="_form-section">
                                    <h2 class="_title-section">Imagen del producto</h2>
                                    <div class="_form-group">
                                        <div class="_input-file-container">
                                            <i class="fa-solid fa-camera"></i>
                                            <span>Seleccionar imagen</span>
                                            <input class="_input-file" type="file" name="image" id="image" accept=".png, .jpg, .jpeg"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="_form-section">
                                    <h2  class="_title-section">Visibilidad</h2>
                                    <div class="_form-group">
                                        <select class="_select" name="visibility" id="visibility">
                                            <option value="0" <%= productFound.visibility==0?"selected":"" %>>Oculto</option>
                                            <option value="1" <%= productFound.visibility==1?"selected":"" %>>Publico</option>
                                        </select>
                                    </div>
                                </div>
                                <button type="submit" class="_button-submit">Editar producto</button>
                            </div>

                        </form>
                    </div>
                </section>
            </main>

            <%- include("../partials/footer.ejs") %>
    </body>

</html>